body {
  font-family: "Space Mono", sans-serif;
  background-color: #090237;
  color:#65FAE5;
  padding: 4%;
}

h1, h2 {
  text-align: center;
}

li #concept {
  font-weight: bolder;
  font-style: italic;
}

hr {
  border: solid #535353;
}